/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
body {
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1.h2, h1.h3, h1.h4, h1.h5, h1.h6, h2.h2, h2.h3, h2.h4, h2.h5, h2.h6, h3.h2, h3.h3, h3.h4, h3.h5, h3.h6, h4.h2, h4.h3, h4.h4, h4.h5, h4.h6, h5.h2, h5.h3, h5.h4, h5.h5, h5.h6, h6.h2, h6.h3, h6.h4, h6.h5, h6.h6 {
  color: #000000;
}
h1 h1, h2 h1, h3 h1, h4 h1, h5 h1, h6 h1 {
  font-size: 68px;
}
h1 h2, h2 h2, h3 h2, h4 h2, h5 h2, h6 h2 {
  font-size: 46px;
}
h1 h3, h2 h3, h3 h3, h4 h3, h5 h3, h6 h3 {
  font-size: 32px;
}
h1 h4, h2 h4, h3 h4, h4 h4, h5 h4, h6 h4 {
  font-size: 28px;
}
h1 h5, h2 h5, h3 h5, h4 h5, h5 h5, h6 h5 {
  font-size: 24px;
}
h1 h6, h2 h6, h3 h6, h4 h6, h5 h6, h6 h6 {
  font-size: 22px;
}

p, ul li {
  color: #717275;
  font-size: 20px;
  font-weight: 300;
}

a, button {
  touch-action: manipulation;
  transition: all 0.3s;
}
a a, button a {
  display: inline-block;
  color: #BC6C25;
  text-decoration: none;
}
a a:hover, button a:hover {
  color: #E76F51;
}

b, strong {
  font-weight: 700;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: #b78752;
}

.section-overlay {
  background-color: #000000;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.section-overlay + .container {
  position: relative;
  z-index: 22;
}

.back-top-icon {
  font-size: 46px;
}

/*---------------------------------------
TIMELINE               
-----------------------------------------*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline .timeline-container {
  padding: 10px 40px;
  padding-top: 0;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline .timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #ffffff;
  border: 5px solid #7c5c52;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline .timeline-container-left {
  left: 0;
}
.timeline .timeline-container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  right: 25px;
  border: medium solid white;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent white;
}
.timeline .timeline-container-right {
  left: 50%;
}
.timeline .timeline-container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid white;
  border-width: 20px 20px 20px 0;
  border-color: transparent white transparent transparent;
}
.timeline .timeline-container-right::after {
  left: -13px;
}
.timeline .timeline-content {
  padding: 5px;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .timeline::after {
    left: 31px;
  }
  .timeline .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline .timeline-container::before {
    left: 58px;
    border: medium solid white;
    border-width: 20px 20px 20px 0;
    border-color: transparent white transparent transparent;
  }
  .timeline .timeline-container-left::after, .timeline .timeline-container-right::after {
    left: 6px;
  }
  .timeline .timeline-container-right {
    left: 0%;
  }
}

/*---------------------------------------
CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: #BC6C25;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s;
  padding: 12px 28px;
}
.custom-btn:hover {
  background: #DDA15E;
  color: #ffffff;
}
.custom-btn-bg-white {
  border-color: #ffffff;
  color: #ffffff;
}
.custom-btn-italic {
  font-style: italic;
}

.custom-border-btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.custom-border-btn:hover {
  background: #ffffff;
  color: #DDA15E;
}

/*---------------------------------------
NAVIGATION BAR & OFFCANVAS              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
}
.sticky-wrapper.is-sticky .container {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  padding: 15px 30px;
}

.navbar {
  background: transparent;
  z-index: 999999;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar .container {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  padding: 15px 30px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: #ffffff;
}

.navbar .navbar-brand-image {
  filter: brightness(0) invert(1);
}

.navbar-brand-image {
  width: 48px;
  height: auto;
  margin-right: 10px;
}

.navbar .custom-btn {
  padding: 10px 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #DDA15E;
}

.navbar .dropdown-menu {
  background: #ffffff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ffffff;
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: #E76F51;
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}
.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: #ffffff;
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #ffffff;
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
HERO        
-----------------------------------------*/
.hero-section {
  background-color: #000000;
  position: relative;
  overflow: hidden;
  min-height: 620px;
  text-align: center;
}

.hero-section::after {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%) rotate(45deg);
  width: 250px;
  height: 350px;
  pointer-events: none;
}

@media screen and (min-width: 991px) {
  .hero-section {
    height: 100vh;
  }
}
.hero-section h1 {
  color: #ffffff;
}

.small-text {
  color: #DDA15E;
}

.hero-section .custom-border-btn {
  border-color: transparent;
}

.hero-section .container {
  position: relative;
  z-index: 9;
}

.hero-slides {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

.opening-hours-list {
  margin: 0;
  padding: 0;
}

.opening-hours-list li {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.opening-hours-list li .underline {
  background-color: rgba(255, 255, 255, 0.75);
  width: 35%;
  height: 1px;
  margin: auto 15px 0 15px;
}

/*---------------------------------------
ABOUT              
-----------------------------------------*/
.about-section {
  background-color: #DDA15E;
  position: relative;
}
.about-section .ratio {
  border-radius: 20px;
}
.about-section .custom-video {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section .about-image-wrap {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.about-section .about-video-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgb(188, 108, 37));
  border-radius: 20px;
  bottom: 0;
  height: auto;
  padding: 40px;
}
.about-section .about-video-info h4 {
  color: #ffffff;
}
.about-section h6 {
  color: #DDA15E;
}

.team-block-wrap {
  background-color: #DDA15E;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  max-height: 450px;
  cursor: pointer;
}
.team-block-wrap:hover .team-block-image {
  transform: scale(1.2);
}
.team-block-wrap .team-block-image-wrap {
  width: 100%;
}
.team-block-wrap .team-block-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.team-block-wrap .team-block-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgb(188, 108, 37));
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
}
.team-block-wrap .team-block-info .badge {
  margin: auto;
  top: 2px;
  bottom: 0;
}

/*---------------------------------------
  OUR MENU              
-----------------------------------------*/
.menu-section {
  background-image: url("../images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-block-wrap {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  padding: 45px;
}

.menu-block .border-top {
  border-top-color: rgba(255, 255, 255, 0.35) !important;
}
.menu-block h6 {
  color: #ffffff;
}
.menu-block small {
  color: rgba(255, 255, 255, 0.35);
}
.menu-block strong {
  color: #DDA15E;
}

.menu-block-image {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  display: block;
  margin: auto;
  cursor: pointer;
}

.badge {
  background-color: #BC6C25;
  font-size: 12px;
  position: relative;
  bottom: 4px;
  padding-bottom: 6px;
}
.badge::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #BC6C25;
}

/*---------------------------------------
REVIEWS              
-----------------------------------------*/
.reviews-section {
  background-color: #7c5c52;
}

.reviews-block {
  background-color: #b78752;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.reviews-block .border-top {
  border-top-color: rgba(255, 255, 255, 0.35) !important;
}

.reviews-block-image-wrap {
  background-image: url("../images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.reviews-block-image {
  border-radius: 100px;
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 10px;
}

.reviews-block-info {
  padding: 20px 30px;
}
.reviews-block-info p {
  font-size: 16px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
}

.reviews-group i {
  color: #ffffff;
}

/*---------------------------------------
BOOKING SECTION              
-----------------------------------------*/
.booking-section {
  background-image: url("../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.booking-form-wrap {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

.booking-form {
  padding: 55px 65px;
}

.booking-form-image-wrap {
  position: relative;
  height: 100%;
}

.booking-form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking-form-text span {
  color: #ffffff;
  font-size: 16px;
}

.reservation-page .custom-border-btn {
  border-color: #DDA15E;
  color: #DDA15E;
}
.reservation-page .custom-border-btn:hover {
  border-color: transparent;
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgb(188, 108, 37)), url("../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.google-map {
  border-radius: 20px;
  filter: grayscale(100);
}

.contact-block-wrap {
  background: #BC6C25;
  border-radius: 20px;
  padding: 0;
  min-height: 200px;
}

.contact-block {
  background: #DDA15E;
  border-radius: 20px;
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}
.contact-block h6 {
  transform: rotate(-8deg);
}
.contact-block .custom-icon {
  background: #BC6C25;
  border-radius: 100px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}
.contact-block strong {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: #717275;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: none;
  outline: none;
  transition: all 0.3s;
}
.custom-form .form-control:hover, .custom-form .form-control:focus {
  background: #BC6C25;
  border-color: transparent;
}
.custom-form .form-label {
  color: #ffffff;
  font-style: italic;
  margin-bottom: 15px;
}
.custom-form button[type=submit] {
  background: #BC6C25;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  margin-bottom: 0;
}
.custom-form button[type=submit]:hover, .custom-form button[type=submit]:focus {
  background: #ffffff;
  border-color: transparent;
  color: #BC6C25;
}

.contact-form .form-control,
.booking-form .form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
}

.booking-form .form-control {
  color: #ffffff;
}

.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.booking-form input:-moz-placeholder,
.booking-form textarea:-moz-placeholder {
  color: #ffffff;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: #BC6C25;
  padding-top: 100px;
  padding-bottom: 100px;
}
.site-footer strong {
  color: #ffffff;
}
.site-footer p,
.site-footer .site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.site-footer .site-footer-link {
  transition: all 0.3s;
}
.site-footer .site-footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}
.site-footer .copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.site-footer .copyright-text a {
  color: rgba(255, 200, 160, 0.75);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: #BC6C25;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}
.social-icon-link:hover {
  background: #ffffff;
  color: #BC6C25;
}
.social-icon-link span {
  display: block;
}

/*---------------------------------------
  RESPONSIVE STYLES                
-----------------------------------------*/
/* Styles for screens 1200px and below (e.g., large tablets, small desktops) */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px; /* Adjust font size for headings to fit smaller screens */
  }
}
/* Styles for screens 991px and below (e.g., tablets in portrait mode) */
@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px; /* Smaller heading for tablets */
  }
  h2 {
    font-size: 36px; /* Adjust heading size for tablets */
  }
  h3 {
    font-size: 32px; /* Adjust heading size for tablets */
  }
  h4 {
    font-size: 28px; /* Adjust heading size for tablets */
  }
  h5 {
    font-size: 20px; /* Adjust heading size for tablets */
  }
  h6 {
    font-size: 18px; /* Adjust heading size for tablets */
  }
  .section-padding {
    padding-top: 50px; /* Reduce padding for sections on tablets */
    padding-bottom: 50px; /* Reduce padding for sections on tablets */
  }
  .hero-section {
    padding-top: 148px; /* Adjust padding for hero section on tablets */
    padding-bottom: 100px; /* Adjust padding for hero section on tablets */
  }
  .navbar-brand,
  .navbar-brand:hover {
    font-size: var(--h5-font-size); /* Adjust font size for navbar brand */
  }
  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px; /* Adjust padding for navbar items */
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0; /* Remove padding from nav links */
    margin-bottom: 0; /* Remove margin from nav links */
  }
  .navbar .custom-btn {
    margin-bottom: 10px; /* Adjust margin for custom buttons in the navbar */
  }
  .booking-form {
    padding: 45px; /* Reduce padding for booking form on tablets */
  }
  .contact-section .container {
    width: auto; /* Adjust width for contact section container */
    margin-right: 10px; /* Adjust margin for container */
    margin-left: 10px; /* Adjust margin for container */
    padding: 35px; /* Adjust padding for contact section container */
  }
  .site-footer {
    padding-top: 50px; /* Reduce padding for footer */
    padding-bottom: 50px; /* Reduce padding for footer */
  }
}
/* Styles for screens 767px and below (e.g., small tablets, large phones) */
@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px; /* Reduce font size for custom buttons */
    padding: 12px 20px; /* Reduce padding for custom buttons */
  }
  .menu-block-wrap,
  .reviews-block-image-wrap,
  .reviews-block-info {
    padding: 20px; /* Reduce padding for various blocks */
  }
}
/* Styles for screens 578px and below (e.g., small phones) */
@media screen and (max-width: 578px) {
  .navbar .container,
  .sticky-wrapper.is-sticky .container {
    margin-right: 10px; /* Adjust margin for navbar container */
    margin-left: 10px; /* Adjust margin for navbar container */
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px; /* Smaller heading size for very small screens */
  }
  h3 {
    font-size: 26px; /* Smaller heading size for very small screens */
  }
  h4 {
    font-size: 22px; /* Smaller heading size for very small screens */
  }
  h5 {
    font-size: 20px; /* Smaller heading size for very small screens */
  }
  .hero-section::after {
    width: 200px; /* Adjust width for hero section decoration */
    height: 200px; /* Adjust height for hero section decoration */
  }
  .booking-form {
    padding: 35px; /* Reduce padding for booking form on extra-small screens */
  }
  .opening-hours-list li {
    font-size: 12px; /* Adjust font size for opening hours list */
  }
  .reviews-block-image-wrap {
    flex-direction: column; /* Stack images vertically in reviews block */
  }
  .reviews-block-image {
    margin-bottom: 15px; /* Adjust margin for images in reviews block */
  }
  .timeline-container {
    padding-left: 55px; /* Adjust padding for timeline container */
  }
  .timeline-container::before {
    left: 44px;
    border: medium solid white;
    border-width: 15px 15px 15px 0;
    border-color: transparent white transparent transparent; /* Adjust border color for timeline indicator */
  }
  .timeline-container-left::before,
  .timeline-container-right::before {
    top: 13px; /* Adjust top position of timeline indicators */
  }
}

/*# sourceMappingURL=output.css.map */
